### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [47]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [48]:
# REVIEW OVERALL DATA FRAME STRUCTURE

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [137]:
# PRINT USING COUNT TOTAL NUMBER OF PLAYERS 

total_players = (purchase_data["Purchase ID"].count())
print(f"Total players = " + str(total_players))

Total players = 780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [138]:
# OBTAIN NUMBER OF UNIQUE ITEMS

unique_items = len(purchase_data["Item Name"].unique())
print(f"Total unique items = " + str(unique_items))

Total unique items = 179

In [134]:
# OBTAIN AVERAGE PRICE OF ITEMS

average_price = purchase_data["Price"].mean()
print(f" The average price of an item is $" + str(average_price))

 The average price of an item is $3.0509871794871795

In [ ]:
# ROUND TO TWO DECIMAL POINTS FOR CURRENCY

In [132]:
oldest_player = purchase_data["Age"].max()
print(f"The oldest player is " + str(oldest_player) + " years old")

The oldest player is 45 years old

In [133]:
youngest_player = purchase_data["Age"].min()
print(f"The youngest player is " + str(youngest_player) + " years old")

The youngest player is 7 years old

In [91]:
gender_count = purchase_data.groupby("Gender").size()
print(gender_count)

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
dtype: int64

In [102]:
grouped_gender_df = purchase_data.groupby("Gender")
print(grouped_gender_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x1175f1da0>

In [58]:
grouped_gender_df.count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [88]:
# CREATE SUMMARY DATA FRAME

summary_df = pd.DataFrame({
    "OLDEST PLAYER": [oldest_player],
    "YOUNGEST PLAYER": [youngest_player],
    "TOTAL PLAYER": [total_players],
    "AVERAGE PRICE": [average_price],
    "TOTAL ITEMS": [unique_items]})

summary_df

   OLDEST PLAYER  YOUNGEST PLAYER  TOTAL PLAYER  AVERAGE PRICE  TOTAL ITEMS
0             45                7           780       3.050987          179

In [ ]:
# OPTIONAL CLEANER FORMATTING

In [64]:
# DISPLAY SUMMARY DATA FRAME

#print(summary_df)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [71]:
# PERCENTAGE AND COUNT OF MALE PLAYERS

MALE = 652

male_percent = (MALE / total_players)
male_percent

0.8358974358974359

In [ ]:
# FORMAT AS PERCENT

In [72]:
# PERCENTAGE AND COUNT OF FEMALE PLAYERS

FEMALE = 113

female_percent = (FEMALE / total_players)
female_percent

0.14487179487179488

In [ ]:
# FORMAT AS PERCENT

In [73]:
# PERCENTAGE AND COUNT OF OTHER

OTHER = 15

other_percent = (OTHER / total_players)
other_percent

0.019230769230769232

In [ ]:
# FORMAT AS PERCENT


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [108]:
grouped_gender_df = purchase_data.groupby(['Gender'])
print(grouped_gender_df)
grouped_gender_df.describe()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x11761f470>

                      Purchase ID                                        \
                            count        mean         std   min     25%
Gender
Female                      113.0  379.380531  211.605484  15.0  199.00
Male                        652.0  392.516871  227.516414   0.0  193.75
Other / Non-Disclosed        15.0  334.600000  234.524991   9.0  169.50

                                               Age             ... Item ID  \
                         50%     75%    max  count       mean  ...     75%
Gender                                                         ...
Female                 392.0  558.00  775.0  113.0  21.345133  ...   129.0
Male                   390.5  592.25  779.0  652.0  22.917178  ...   141.0
Other / Non-Disclosed  291.0  516.50  747.0   15.0  24.200000  ...   141.0

                              Price                                          \
                         max  count      mean       std   min     25%   50%
Gender
Female                 183.0  113.0  3.203009  1.158194  1.00  2.2800  3.45
Male                   183.0  652.0  3.017853  1.175625  1.00  1.9625  3.09
Other / Non-Disclosed  163.0   15.0  3.346000  0.883813  1.33  3.1000  3.45


                         75%   max
Gender
Female                 4.230  4.90
Male                   4.080  4.99
Other / Non-Disclosed  3.875  4.75

[3 rows x 32 columns]

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [110]:
# CREATE BINS & CATEGORIZE AGE

age_bins = [0, 10, 20, 30, 40, 50]

age_labels = ["YOUTH", "TEENS", "YOUNG ADULT", "MID ADULT", "OLD ADULT"]

pd.cut(purchase_data["Age"], age_bins, labels=age_labels).head()

0          TEENS
1      MID ADULT
2    YOUNG ADULT
3    YOUNG ADULT
4    YOUNG ADULT
Name: Age, dtype: category
Categories (5, object): [YOUTH < TEENS < YOUNG ADULT < MID ADULT < OLD ADULT]

In [113]:
# REVIEW NEW DATA FRAME WITH AGE GROUP COLUMN ADDED

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=age_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,TEENS
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,MID ADULT
2,2,Ithergue48,24,Male,92,Final Critic,4.88,YOUNG ADULT
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,YOUNG ADULT
4,4,Iskosia90,23,Male,131,Fury,1.44,YOUNG ADULT

In [126]:
# CALCULATE PERCENTAGES BY AGE GROUP

age_grouped = purchase_data.groupby("Age Group")

average_age = age_grouped["Age"].mean()

print(average_age)

Age Group
YOUTH           8.468750
TEENS          17.688976
YOUNG ADULT    24.047264
MID ADULT      35.129412
OLD ADULT      42.857143
Name: Age, dtype: float64

In [127]:
# CALCULATE NUMBERS BY AGE GROUP

sum_age = age_grouped["Age"].sum()

print(sum_age)

Age Group
YOUTH           271
TEENS          4493
YOUNG ADULT    9667
MID ADULT      2986
OLD ADULT       300
Name: Age, dtype: int64

In [103]:
total_items = purchase_data["Item Name"].count()
print(total_items)

780

In [128]:
# CREATE SUMMARY DATA FRAME

# ???HOW DO I SET "AGE GROUP" AS MY INDEX???

age_summary_df = pd.DataFrame({
    "AVERAGE AGE": [average_age],
    "SUM OF AGES": [sum_age]
})

age_summary_df

,AVERAGE AGE,SUM OF AGES
0,Age Group YOUTH 8.468750 TEENS ...,Age Group YOUTH 271 TEENS 4...

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame