### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [535]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [570]:
# REVIEW OVERALL DATA FRAME STRUCTURE

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,TEENS
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,MID ADULT
2,2,Ithergue48,24,Male,92,Final Critic,4.88,YOUNG ADULT
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,YOUNG ADULT
4,4,Iskosia90,23,Male,131,Fury,1.44,YOUNG ADULT

In [537]:
# PRINT USING COUNT TOTAL NUMBER OF PLAYERS 

total_players = (purchase_data["Purchase ID"].count())
print(f"Total players = " + str(total_players))

Total players = 780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [538]:
# OBTAIN NUMBER OF UNIQUE ITEMS

unique_items = len(purchase_data["Item Name"].unique())
print(f"Total unique items = " + str(unique_items))

Total unique items = 179

In [539]:
# OBTAIN TOTAL NUMBER OF ITEMS SOLD

total_items = purchase_data["Item Name"].count()
print(f"Total number of items sold = " + str(total_items))

Total number of items sold = 780

In [540]:
# OBTAIN AVERAGE PRICE OF ITEMS

average_price = purchase_data["Price"].mean()
print(f"The average price of an item is $" + str(average_price))

The average price of an item is $3.0509871794871795

In [541]:
# ROUND TO TWO DECIMAL POINTS FOR CURRENCY

average_price_d = str(round(average_price, 2))
print(f"The average price is $" + average_price_d)

The average price is $3.05

In [542]:
oldest_player = purchase_data["Age"].max()
print(f"The oldest player is " + str(oldest_player) + " years old")

The oldest player is 45 years old

In [543]:
youngest_player = purchase_data["Age"].min()
print(f"The youngest player is " + str(youngest_player) + " years old")

The youngest player is 7 years old

In [544]:
gender_count = purchase_data.groupby("Gender").size()
print(gender_count)

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
dtype: int64

In [569]:
# ANOTHER OPTION

count = purchase_data["Gender"].value_counts()
count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [546]:
grouped_gender_df = purchase_data.groupby("Gender")
print(grouped_gender_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x1232a3518>

In [547]:
grouped_gender_df.size()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
dtype: int64

In [548]:
grouped_gender_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [549]:
# CREATE SUMMARY DATA FRAME & DISPLAY

summary_df = pd.DataFrame({
    "OLDEST PLAYER": [oldest_player],
    "YOUNGEST PLAYER": [youngest_player],
    "TOTAL PLAYER": [total_players],
    "AVERAGE PRICE": [average_price_d],
    "TOTAL ITEMS": [unique_items]})

summary_df

   OLDEST PLAYER  YOUNGEST PLAYER  TOTAL PLAYER AVERAGE PRICE  TOTAL ITEMS
0             45                7           780          3.05          179

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [550]:
# PERCENTAGE AND COUNT OF MALE PLAYERS

# I FEEL LIKE THERE MUST BE A WAY TO REFERENCE NUMBER OF MALES WITH CODE VERSUS MANUALLY ENTERING AS A VARIABLE???

MALE = 652

male_percent = (MALE / total_players)
male_percent

0.8358974358974359

In [551]:
# FORMAT AS PERCENT

print(str(round(male_percent * 100)) + '%')

84.0%

In [552]:
# PERCENTAGE AND COUNT OF FEMALE PLAYERS

FEMALE = 113

female_percent = (FEMALE / total_players)
female_percent

0.14487179487179488

In [553]:
# FORMAT AS PERCENT

print(str(round(female_percent * 100)) + '%')

14.0%

In [554]:
# PERCENTAGE AND COUNT OF OTHER

OTHER = 15

other_percent = (OTHER / total_players)
other_percent

0.019230769230769232

In [555]:
# FORMAT AS PERCENT

print(str(round(other_percent * 100)) + '%')

2.0%

## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [556]:
grouped_gender_df = purchase_data.groupby(['Gender'])
grouped_gender_df

In [557]:
grouped_gender_df.mean()

                       Purchase ID        Age    Item ID     Price
Gender
Female                  379.380531  21.345133  85.477876  3.203009
Male                    392.516871  22.917178  93.524540  3.017853
Other / Non-Disclosed   334.600000  24.200000  80.800000  3.346000

In [572]:
grouped_gender_df["Item Name"].value_counts()

Gender                 Item Name
Female                 Nirvana                                         4
                       Heartless Bone Dualblade                        3
                       Oathbreaker, Last Hope of the Breaking Storm    3
                       Thorn, Conqueror of the Corrupted               3
                       Thorn, Satchel of Dark Souls                    3
                       Brutality Ivory Warmace                         2
                       Dawne                                           2
                       Deadline, Voice Of Subtlety                     2
                       Deluge, Edge of the West                        2
                       Dreamsong                                       2
                       Extraction, Quickblade Of Trembling Hands       2
                       Feral Katana                                    2
                       Fiery Glass Crusader                            2
                       Final Critic                                    2
                       Mourning Blade                                  2
                       Striker                                         2
                       Victor Iron Spikes                              2
                       Aetherius, Boon of the Blessed                  1
                       Alpha                                           1
                       Alpha, Oath of Zeal                             1
                       Arcane Gem                                      1
                       Betrayal, Whisper of Grieving Widows            1
                       Blood Infused Guardian                          1
                       Brimstone                                       1
                       Chaos, Ender of the End                         1
                       Conqueror Adamantite Mace                       1
                       Crucifer                                        1
                       Curved Axe                                      1
                       Deathraze                                       1
                       Demise                                          1
                                                                      ..
Male                   Alpha, Reach of Ending Hope                     1
                       Betrayer                                        1
                       Celeste                                         1
                       Curved Axe                                      1
                       Endbringer                                      1
                       Exiled Mithril Longsword                        1
                       Foul Edge                                       1
                       Ghost Reaver, Longsword of Magic                1
                       Heartless Bone Dualblade                        1
                       Heartseeker, Reaver of Souls                    1
                       Orbit                                           1
                       Riddle, Tribute of Ended Dreams                 1
                       Rusty Skull                                     1
                       The Decapitator                                 1
                       Thorn, Conqueror of the Corrupted               1
                       Undead Crusader                                 1
                       Whistling Mithril Warblade                      1
Other / Non-Disclosed  Betrayal, Whisper of Grieving Widows            2
                       Warped Iron Scimitar                            2
                       Azurewrath                                      1
                       Dreamsong                                       1
                       Ghastly Adamantite Protector                    1
                       Heartless Bone Dualblade                        1
                       Hopeless Ebon Dualblade                         1
                       Orbit                                           1
                       Restored Bauble                                 1
                       Retribution Axe                                 1
                       Splitter, Foe Of Subtlety                       1
                       Thunderfury Scimitar                            1
                       Warped Fetish                                   1
Name: Item Name, Length: 281, dtype: int64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [558]:
# CREATE BINS & CATEGORIZE AGE

age_bins = [0, 10, 20, 30, 40, 50]

age_labels = ["YOUTH", "TEENS", "YOUNG ADULT", "MID ADULT", "OLD ADULT"]

pd.cut(purchase_data["Age"], age_bins, labels=age_labels).head()

0          TEENS
1      MID ADULT
2    YOUNG ADULT
3    YOUNG ADULT
4    YOUNG ADULT
Name: Age, dtype: category
Categories (5, object): [YOUTH < TEENS < YOUNG ADULT < MID ADULT < OLD ADULT]

In [559]:
# REVIEW NEW DATA FRAME WITH AGE GROUP COLUMN ADDED

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=age_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,TEENS
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,MID ADULT
2,2,Ithergue48,24,Male,92,Final Critic,4.88,YOUNG ADULT
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,YOUNG ADULT
4,4,Iskosia90,23,Male,131,Fury,1.44,YOUNG ADULT

In [560]:
# CALCULATE PERCENTAGES BY AGE GROUP

age_grouped = purchase_data.groupby("Age Group")

average_age = age_grouped["Age"].mean()

print(str(round(average_age)))

Age Group
YOUTH           8.0
TEENS          18.0
YOUNG ADULT    24.0
MID ADULT      35.0
OLD ADULT      43.0
Name: Age, dtype: float64

In [561]:
# CALCULATE NUMBERS BY AGE GROUP

# WHY DID IT CREATE (2) "Age Group" COLUMNS???

sum_age = age_grouped["Age Group"].value_counts()

print(sum_age)

Age Group    Age Group
YOUTH        YOUTH           32
TEENS        TEENS          254
YOUNG ADULT  YOUNG ADULT    402
MID ADULT    MID ADULT       85
OLD ADULT    OLD ADULT        7
Name: Age Group, dtype: int64

In [562]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price',
       'Age Group'],
      dtype='object')

In [563]:
# CREATE SUMMARY DATA FRAME

reduced_purchase_data = purchase_data.groupby("Age Group")
reduced_purchase_data.mean()

             Purchase ID        Age     Item ID     Price
Age Group
YOUTH         389.906250   8.468750  106.812500  3.405000
TEENS         395.385827  17.688976   91.629921  3.063622
YOUNG ADULT   386.527363  24.047264   90.781095  2.992687
MID ADULT     373.352941  35.129412   95.141176  3.153647
OLD ADULT     540.857143  42.857143   82.285714  3.075714

In [564]:
# TRYING TO REMOVE COLUMNS "Purchase ID" AND "Item ID" from above???

reduced_purchase_data = purchase_data.loc[:, ["Age", "Price"]]
reduced_purchase_data.mean()

Age      22.714103
Price     3.050987
dtype: float64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [565]:
# BIN PURCHASE DATA FRAME BY AGE

In [566]:
# RUN BASIC CALCULATIONS BY AGE

In [567]:
# SUMMARY DF & DISPLAY

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame